/* You can add global styles to this file, and also import other style files
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/* Importa il font simpatico per il titolo */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
@import 'prism-themes/themes/prism-xonokai.css';
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body {
  display: block;
  height: 100%;
  background: rgb(102,0,102);
  background: linear-gradient(0deg, rgba(102,0,102,1) 0%, rgba(6,50,52,1) 100%);

  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin: 0;

  scrollbar-width: thin;
  scrollbar-color: #660066 #333;
}
html {
  background-color: #333;
}

/* Scroll personalizzato per Chrome/Safari */
html::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(6,50,52,1);
}

html::-webkit-scrollbar-thumb {
  background-color: #9f7bca;
  border-radius: 10px;
}

html::-webkit-scrollbar-track {
  background: #333;
  border-radius: 10px;

}




