/* Layout generale */
.container {
  display: flex;
  min-height: 100vh;
  transition: margin-left 0.3s ease;
}

/* Sidebar */
.sidebar {
  width: 220px;
  border: 1px solid black;
  border-radius: 1vw;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.sidebar-header h3 {
  margin-bottom: 10px;
  font-style: italic;
}

.sidebar-header button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s;
}

.sidebar-header button:hover {
  background-color: #2980b9;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.sidebar ul li:hover {
  background-color: #34495e;
}

/* Main content area */
.main-content {
  margin-left: 270px;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s ease;
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.main-content h2 {
  font-size: 2rem;
  color: #2980b9;
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

/* Overlay per la modale */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  animation: fadeInOverlay 0.3s ease;
}

@keyframes fadeInOverlay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Modali */
.create-group-modal, .create-snippet-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #313131;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 300px;
  max-width: 90%;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translate(-50%, -60%); }
  100% { opacity: 1; transform: translate(-50%, -50%); }
}

.create-group-modal input, .create-snippet-modal input, .create-snippet-modal textarea {
  width: 100%;
  margin-bottom: 10px;
  color: yellowgreen;
  padding: 5px;
  border: 1px solid #702ca8;
  border-radius: 5px;
  background-color: #111;
}

.create-group-modal button, .create-snippet-modal button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.create-group-modal button:hover, .create-snippet-modal button:hover {
  background-color: #2980b9;
}

.create-group-modal .close, .create-snippet-modal .close {
  background-color: #e74c3c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.create-group-modal .close:hover, .create-snippet-modal .close:hover {
  background-color: #c0392b;
}

/* Stili Snippet */
.snippet-card {
  background-color: #5a5a5a;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.snippet-card h3 {
  margin: 0;
}

.snippet-card pre {
  background-color: #0a4553;
  padding: 10px;
  border: 1px solid #333;
  box-shadow: 2px 2px 2px 4px #111;
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: yellowgreen;
  font-size: 1.5rem;
  position: relative;
}

/* Pulsante copia */
.copy-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.copy-icon:hover {
  transform: scale(1.1);
}

/* Pulsante per creare snippet */
button.create-snippet-btn {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button.create-snippet-btn:hover {
  background-color: #d35400;
}

/* Stili aggiuntivi per il messaggio */
.copied-message {
  position: relative;
  top: -61px;
  left: -61px;
  font-weight: bold;
  display: inline;
}
